<% title 'New Blackout' %>
<div id="form_recurring">
<%= simple_form_for(@black_out) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= render :partial => 'form', :locals => {:f => f} %>
    
<% end %>
</div>

