<h1>Overview of Changes</h1>
<p>This is where all changes to reservations, equipment items, and equipment models are displayed.</p>

<%= render :partial => 'table', :locals => {:versions => @all_versions} %>
