<% title "Application Settings" %>

<p class="lead">You are currently running Reservations <%= APP_VERSION %>.</p>
<hr />

<%= render partial: 'form' %>

<% if can? :run, :jobs %>
  <legend>Tasks</legend>
  <%= link_to "Run Daily Tasks", run_daily_tasks_app_configs_path, method: :put, class: 'btn btn-default' %>
  <%= link_to "Run Hourly Tasks", run_hourly_tasks_app_configs_path, method: :put, class: 'btn btn-default' %>
<% end %>
