<% title "Application Settings" %>

<p class="lead">You are currently running Reservations <%= APP_VERSION %>.</p>
<hr />

<%= render partial: 'form' %>

<% if can? :run, :jobs %>
  <legend>Tasks</legend>
  <%= link_to "Run Daily Tasks", '/app_configs/run_daily_tasks/', class: 'btn btn-default' %>
  <%= link_to "Run Hourly Tasks", '/app_configs/run_hourly_tasks/', class: 'btn btn-default' %>
<% end %>
