<% title "Application Settings" %>
<p>You are currently running Reservations <%= APP_VERSION %>.</p>

<%= simple_form_for @app_config, :html => { multipart: true, :class => "form-horizontal" } do |f| %>

  <%= render :partial => 'form', :locals => {:f => f} %>

<% end %>