.thumbnail {
  height: 420px;
  position: relative;
  line-height: $baseLineHeight;
  @include box-shadow(#{inset 0px 0px 30px rgba(0,0,0,.1), 0 0 0 rgba(0,0,0,0)});
  @include transition(all .15s ease-out);

  &:hover {
    @include box-shadow(#{inset 0 0 0 rgba(0,0,0,0), 0px 0px 14px rgba(0,0,0,.3)});
    background: lighten($bodyBackground, 10%);
  }

  > a > img {
    @include img-outline;
    background: white;
  }
}

#add_to_cart {
  position: absolute;
  bottom: 13px;
}

.add_to_cart_box { @extend .caption; }

.equipment_title {
	padding: 9px 9px 0px 9px;
	height: 2 * $h3-line-height;
}

.special-hr {
	margin-top: 4px;
	margin-bottom: 10px;
}

.caption_cat { padding: 0px 9px 0px 9px; }

a.not-qualified-icon {
	position: absolute;
	bottom: 13px;
	left: 110px;
	font-size: $baseFontSize * 2.6;
	color: $btnWarningBackgroundHighlight;
  @include warning-icon-drop-shadow;

	&:hover, &:active {
		text-decoration: none;
		color: $btnWarningBackground;
	}
}

.pagination {
	float: left;
}

#items_per_form {
	position: relative;
	top: 18px;
}

// Will need to be changed for responsive
