.thumbnail {
  height: 420px;
  position: relative;
  line-height: $baseLineHeight;
}

#add_to_cart { 
  position: absolute;
  bottom: 13px;
}

.add_to_cart_box { @extend .caption; }

.equipment_title {
	padding: 9px 9px 0px 9px;
	height: 2 * $h3-line-height;
}

.special-hr { 
	margin-top: 4px;
	margin-bottom: 10px;
}

.caption_cat { padding: 0px 9px 0px 9px; }

a.not-qualified-icon {
	position: absolute;
	bottom: 13px;
	left: 110px;
	font-size: $baseFontSize * 2.6;
	color: $btnWarningBackgroundHighlight;

	&:hover, &:active {
		text-decoration: none;
		color: $btnWarningBackground;
	}
}

.pagination {
	float: left;
}

#items_per_form {
	position: relative;
	top: 18px;
}

// Will need to be changed for responsive