# Reservations configuration file; you can use this with dotenv-deploy or
# simply set the relevant environment variables
#
# The required configuration parameters / environment variables are:
#   CAS_AUTH - set this to use CAS authentication
#   CAS_BASE_URL - set this if using CAS authentication to the base URL
#   RAILS_RELATIVE_URL_ROOT - set this if deploying to a subdirectory
#     (e.g. example.com/reservations)
#   RES_DB_NAME - name of the database
#   RES_DB_USERNAME - username for database access
#   RES_DB_PASSWORD - password for database access
#   RES_DB_HOST - host for the database
#   PARTY_FOUL_TOKEN - set this to the GitHub OAuth token you use if you
#     implement party_foul to generate issues from exceptions to your fork of
#     Reservations
#   RAILS_HOST_NAME - the host name for your application (e.g. example.com),
#     ensures that e-mail links work
#   SECRET_KEY_BASE - secret key used to sign cookies (in secrets.yml)
#   DEVISE_SECRET_KEY - secret key used by Devise for authentication
#   DEVISE_PEPPER - pepper used by Devise to generate encrypted passwords
#   RES_SMTP_ADDRESS - SMTP server address
#   RES_SMTP_PORT - SMTP server port
#   RES_SMTP_DOMAIN - SMTP server domain
#   RES_SMTP_AUTHENTICATION - whether or not to use authentication for SMTP
#     (set to any value to enable authentication, requires the next two
#     parameters)
#   RES_SMTP_USERNAME - SMTP authentication username
#   RES_SMTP_PASSWORD - SMTP authentication password
