*~
.bundle
.DS_Store
.rbenv-version
.sass-cache/
*.orig
db/*.sqlite3
log/*.log
tmp/
config/database.yml
config/database.yml~
public/system/equipment_models/
public/equipment_models/
public/system
public/assets
public/attachments
diff.py