*~
.bundle
.DS_Store
.rbenv-version
.sass-cache/
.vagrant
*.orig
db/*.sqlite3
db/*.sqlite3-journal
log/*.log
tmp/
config/database.yml
config/database.yml~
config/master.key
config/secrets.yml
public/system/equipment_models/
public/equipment_models/
public/system
public/assets
public/attachments
diff.py
Vagrantfile
*.sublime*
coverage/
.env
node_modules/*
*.swp
*.env
storage/
