<p>Your <%= link_to 'reservation request', reservation_url(@reservation, only_path: false) %> has expired.</p>

<p> You can request the equipment again <%= link_to 'here', equipment_model_url(@reservation.equipment_model, only_path: false) %>.</p>
