<p>
  This a reminder that you have a reservation scheduled for pickup tomorrow including the following items:
</p>
<ul>
  <% @reservation.equipment_models_reservations.each do |equipment_models_reservations| %>
    <li>
      <%= equipment_models_reservations.quantity %> x <%= link_to equipment_models_reservations.equipment_model.name, equipment_models_reservations.equipment_model %>
    </li>
  <% end %>
</ul>