#userModal{
	max-height: 500px;
  min-width: 500px;
  width: 50%;
  left: 25%;
  margin-right: auto;
  margin-left: auto;
	.modal-body {
		overflow-x: hidden;
	}
}

// This needs to be seriously cleaned up but my CSS-fu is rather weak
#cartSpinner {
	float: right;
}
