#userModal{
	max-height: 500px;
  min-width: 500px;
  width: 50%;
  left: 25%;
  margin-right: auto;
  margin-left: auto;
	.modal-body {
		overflow-x: hidden;
	}
}

// This needs to be seriously cleaned up but my CSS-fu is rather weak
#cartSpinner {
	float: right;
	// arbitrary positioning values, not ideal (it's still a little high)
	// we also have it over to the right since the cart title is different for
	// patrons and checkout people / admins
	margin-right: 20px;
	margin-top: 16px;
}