#list_items_in_cart {
  max-height: 150px;
  overflow-y: scroll;
  border: 1px solid $table-border-color;
	border-radius: 4px;
	padding-bottom: 0px;
	margin-bottom: 19px;

  #quantity_col {
    width: 70px
  }

  #cart_is_empty {
    margin: 9px;
    line-height: $line-height-base * 2;
  }
}

#remove_button {
  float: right;
}

.cart_reserver { margin-bottom: 7px; }

@media (min-width: 768px) and (max-width: 1199px) {
	#empty_cart_btn {
		margin-bottom: 8px;
	}
}

.cart-header h2 {
  margin-top: 4px;
  margin-bottom: 14px;
}
