.well-em-manage {
  background-color: darken(desaturate($bodyBackground, 10%), 12%);
  text-align: center;

  a {
    color: darken($navbarLinkColor, 50%);

    > img {
      background: white;
      @include img-outline(desaturate(darken($bodyBackground, 20%), 30%));
    }
  }
}

.checkin-click:hover{
  background-color: darken($bodyBackground, 5%);
}

.selected {
  background-color: adjust-hue(darken($bodyBackground, 5%), 45deg);
}

.selected-overdue {
  background-color: adjust-hue(darken($bodyBackground, 7%), -25deg);
}

.hidden {
	opacity:0;
}

.overdue-img {
	float: right;
}

.title {
	float: left;
}
	
.checkin, .checkout {
  .rectangle-list {
    margin-bottom: 2em;

    label {
      margin-bottom: 0;

      > input[type="checkbox"] {
        float: left;
        margin-top: .3em;
      }

      > span {
        display: block;
        margin-left: 1.5em;
        padding-left: .5em;
        border-left: solid 1px lighten($rectangle-list-li-background, 6%);
      }
    }
  }
}
