.well-em-manage {
  background-color: darken(desaturate($body-bg, 10%), 12%);
  text-align: center;

  a {
    color: darken($navbar-default-link-color, 50%);

    > img {
      background: white;
      margin: 0 auto;
      @include img-outline(desaturate(darken($body-bg, 20%), 30%));
    }
  }
}

.checkin-click:hover {
  background-color: darken(desaturate($body-bg, 10%), 17%);
  cursor: pointer;
}

.selected {
  background-color: adjust-hue(darken($body-bg, 12%), 45deg);
}

.selected-overdue {
  //background-color: adjust-hue(darken($body-bg, 12%), -25deg);
  //commented out red background but we may want to save it for later,
  // possibly for unselected checkin procedures
}

.check {
  color: green;
}
.icons {
  float: right;
}
.title {
  float: left;
}

.overdue-icon {
  color: #AD0000;
}

.c-box {
  cursor: pointer;
}

.c-box:hover {
  background-color: darken($body-bg, 5%);
}

.checkin, .checkout {
  .rectangle-list {
    margin-bottom: 2em;

    label {
      margin-bottom: 0;

      > input[type="checkbox"] {
        float: left;
        margin-top: .3em;
      }

      > span {
        display: block;
        margin-left: 1.5em;
        padding-left: .5em;
        border-left: solid 1px lighten($rectangle-list-li-background, 6%);
      }
    }
  }
}
