// div#right_column {
//   position: relative;
// }

// div#people_row {
//   position: relative;
//   // top: 0;
//   bottom: -100;
// }
// .well-inverse {
//   background: #000;

//   a {
//     color: #fff;
//   }
// }

#people_row {
  text-align: center;

  .icon-user {
    font-size: $baseFontSize * 7;
    line-height: $baseLineHeight * 4;
  }
}

ul.bar-dividers {
  display: inline;
  overflow: hidden;
  list-style: none;
  margin: 0; padding: 0;
  position: relative;
  height: 18px; // must match the height of the progress bar
  // width: 100%;
  z-index: 100000000;

  li{
    // list-style-type: none;
    border-right: 1px solid rgba(172, 172, 172, .5);
    border-left: 1px solid rgba(221, 221, 221, 1);
    width: 33%;
    height: 18px;
    float: left;
    background: transparent;

  }
  li:first-child{
      border-left: none;
  }
  li:last-child{
      border-right: none;
  }
}

#date_range .progress {
  width: 100%;
  .bar {
    span {
      position: relative;
      bottom: $baseLineHeight;
      z-index: 4;
    }
  }
}