<div class="equipment_object" style="margin-left: 30px">
  <% form_for add_equipment_object_form do |f| %>
    <%= f.hidden_field :equipment_model_id, :value => @equipment_model.id %>
    <p>
      <%= f.text_field :name, :value => 'Enter name or serial #', :onclick => "if(this.value == 'Enter name or serial #') this.value='';" %>
    </p>
    <p>
      <%= f.submit "Add Equipment Object" %>
      <%= link_to_function "cancel", "$(this).parents('.equipment_object').remove()" %>
    </p>
  <% end %>
</div>