<header class="site-header">

  <div class="wrap">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
		<a class="page-link" href="{{ "/user-doc/" | prepend: site.baseurl }}">Documentation</a>
        <a class="page-link" href="{{ "/features/" | prepend: site.baseurl }}">Features</a>
        <a class="page-link" href="https://docs.google.com/a/yale.edu/spreadsheet/viewform?formkey=dE8zTFprNVB4RTAwdURhWEVTTlpDQVE6MQ#gid=0">Report an Issue</a>
      </div>
    </nav>

  </div>

</header>
