<header class="site-header">

  <div class="wrap">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
		<a class="page-link" href="{{ "/user-doc/" | prepend: site.baseurl }}">User Documentation</a>
        <a class="page-link" href="{{ "/features/" | prepend: site.baseurl }}">Features</a>
        <a class="page-link" href="{{ "/support/" | prepend: site.baseurl }}">Support</a>
      </div>
    </nav>

  </div>

</header>
