.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#content {
  padding: 15px 0 20px 15px;
	margin: 0;
	width: 490px;
	background: #f9f9f9;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
	border-left: none;
	border-right: none;
	font-size: 140%;
	text-align: center;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

table, td, tr, th{
	border: 1px solid #000;
	margin: 0;
	padding: 5px;
	border-collapse: collapse;
	background: #fff;
}

td{
	border: 1px solid #999;
}

h1{
	color: #963;
	text-align: left;
	font-size: 200%;
	margin-bottom: 10px;
}

div#logged_in{
	margin-top: 1em;
	margin-right: 1em;
	text-align: right;
}

input.number_input{
	width: 50px;
}

label{
	font-weight: bold;
}

div#cart{
	border: 1px solid #000;
	background: #f8f8f8;
	margin: 5px;
	padding: 5px;
	width: 200px;
	float: right;
}

div#cart h2{
	margin: 0 0 5px 0;
	padding: 0;
}

div#sidebar-right{
	width: 220px;
}