.dropdown-menu li.active {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #BDBDBD;
  white-space: nowrap;
}

div#searchbox {
	margin-bottom: 10px;
}

div#sidebar-right { margin-top: $baseLineHeight; }