// Hacks to have separate base font size for the navbar – remove if / when we
// move to 14px base font size

.navbar {
	font-size: $navbar-font-size-base;

	.navbar-brand { font-size: ceil(($navbar-font-size-base * 1.25)); }
	.dropdown-menu { font-size: inherit; }
	.form-control { font-size: inherit; }
}

// Fixes #1111 – navbar will be correct height
.navbar-fixed-top { border-width: 0; }

// Dropdown stuff
.dropdown-menu {
//	max-height: 440px;
//	overflow-y: auto;

	.nav-header {
		text-transform: lowercase;
		font-variant: small-caps;
	}
}

// .navbar-form .search-query {
//   @include box-shadow(#{inset 0 0 10px rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.15)});
// 	@include placeholder-extended($navbar-search-placeholder-color);
//   @include transition(#{background .2s ease-in-out, text-shadow .2s ease-in-out, box-shadow .2s ease-in-out});
// }

.none-text {
  // in the dropdown menus, when none to list -- this is for the "(none)" text
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: rgb(51, 51, 51);
  white-space: nowrap;
}

.navbar-brand {
  font-weight: 600;
  @include transition(all .2s ease-out);
  @extend .hvr-underline-reveal;
  fill: #C2B8AF;
  stroke: #C2B8AF;

  &:hover {
  fill: #FAFDFE;
  stroke: #FAFDFE;
  }
}

.logo-container {
  display: inline-block;
  float: left;
  margin-top: -8px;
  padding-right: 5px;
}

.logo {
  fill: inherit;
  stroke: inherit;
  width: 32px;
  height: 32px;
  @include transition(all .2s ease-out);
}

.title {
  display: inline-block;
}

#navigation_bar {
  @include box-shadow(#{0 2px 5px rgba(0, 0, 0, 0.3)});
}

.navbar .nav > li > a:hover {
  background-position: 0 0;
}

.navbar .nav > li > a {
	@extend .hvr-underline-reveal;
}

@media (max-width: 979px) {
  .navbar .nav > li > a {
    background-image: none;
    @include transition(none);
  }

  .navbar .brand {
    @include transition(none);
  }
}

.navbar-form .search-query {
  &::-moz-placeholder {
    font-family: FontAwesome;
    font-style: normal;
  }
  &:-ms-input-placeholder {
    font-family: FontAwesome;
    font-style: normal;
  }
  &::-webkit-input-placeholder {
    font-family: FontAwesome;
    font-style: normal;
  }

  // this is currently broken in FF, apparently :after doesn't work
  &::-moz-placeholder:after {
    font-family: $font-family-sans-serif;
    content: "Search the catalog";
  }
  &:-ms-input-placeholder:after {
    font-family: $font-family-sans-serif;
    content: "Search the catalog";
  }
  &::-webkit-input-placeholder:after {
    font-family: $font-family-sans-serif;
    content: "Search the catalog";
  }
}

.navbar .btn-sign-in {
  margin-right: 0px;
}

