<% unless current_equipment.reservations.empty? %>
  <small>
    <ul>
      <% current_equipment.reservations.each do |r| %>
				<% if (r.status == "checked out")||(r.status == "overdue") %>
	        <li><%= link_to r.equipment_model.name, r.equipment_model %> (<%= link_to r.equipment_object.name, r.equipment_object %>)</li>
				<% end %>
      <% end %>
    </ul>
  </small>
<% else %>
  <li> none </li>
<% end %>