<small>
  <ul>
    <table>
      <tr>
        <th>Reservation #</th>
        <th>Equipment</th>
        <th>Start Date</th>
        <th>Due Date</th>
      </tr>
      <% if @all_equipment %>
        <% @all_equipment.each do |reservation| %>
          <tr>
            <td><%= link_to reservation.id, reservation %></td>
            <td><%= link_to reservation.equipment_model.name, reservation.equipment_model %></td>
            <td><%=h reservation.start_date.to_date.to_s(:long) %></td>
            <td><%=h reservation.due_date.to_date.to_s(:long) %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </ul>

</small>

