<% if current_equipment.reservations.empty? %>
  <li> none </li>
<% else %>
  <small>
    <ul>
    <% current_equipment.reservations.each do |r| %>
			<% if (r.status == "checked out") || (r.status == "overdue") %>
      <li>
        <%= link_to r.equipment_model.name, r.equipment_model %>
        (<%= link_to r.equipment_item.name, r.equipment_item %>)
      </li>
			<% end %>
    <% end %>
    </ul>
  </small>
<% end %>

