<% title "Edit User" %>

<div id="edit_form">
  <%= render :partial => 'form' %>
</div>

<% if current_user.is_admin_in_adminmode? %>
  <p>
    <%= link_to "Show", @user %> |
    <%= link_to "View All", users_path %> |
    <%= link_to "Delete", @user, :confirm => 'Deleting this user will delete all of their related reservations. Are you sure you want to do this?', :method => :delete %>
  </p>
<% end %>
