<% title "Edit User" %>

<div id="edit_form">
  <%= render :partial => 'form' %>
</div>

<% if current_user.is_admin_in_adminmode? %>
  <p>
    <%= link_to "Show", @user %> |
    <%= link_to "View All", users_path %> |
    <%= link_to "Destroy", @user, :confirm => 'This will permanently delete the Item from your database and could have unintended consequences. You might break all the things. Are you sure?', :method => :delete %>
  </p>
<% end %>
