<% title "Edit #{@edit_title_text}" %>

<div id="edit_form">
  <%= render :partial => 'form' %>
</div>

<% if can? :manage, User %>
  <p>
    <%= link_to "Show", @user %> |
    <%= link_to "View All", users_path %>
  </p>
<% end %>
