<% title 'New User' %>

<% unless @message %>
  <%= render partial: 'form' %>
  <%= content_tag(:p, link_to('Back to List', users_path)) if current_user %>
<% else %>
  <div class="col-md-6">
    <%= content_tag(:p, @message) %>
  </div>
  <div class="col-md-6"></div>
<% end %>
