<% title "New User" unless params[:from_cart] == "true" %>

<% if flash[:notice].nil? && flash[:error].nil? %>
  <%= render :partial => @partial_to_render %>
  <%= content_tag(:p, link_to("Back to List", users_path)) if current_user && params[:from_cart] != "true" %>
<% else %>
  <div class="span5">
    <%= content_tag(:p, @message) %>
  </div>
  <div class="span5"></div>
<% end %>
