<div class="span5">
  <% unless @message %>
    <p>Please double check that this information is correct.
      The user can update their personal information later by clicking 'edit' on their profile page.</p>
    <%= render partial: 'short_form' %>
  <% else %>
    <%= content_tag :p, @message %>
    <div class="span5"></div>
  <% end %>
</div>
