<%= link_to "Syntax Guide", markdown_help_path, :remote => true, :class => 'btn btn-default' %>
<div class="modal fade" id="markdownModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Markdown Cheat Sheet</h4>
      </div>
      <div class="modal-body" id="markdown_help_modal">
      </div>
    </div>
  </div>
</div>
