<%= link_to "Syntax Guide", markdown_help_path, :remote => true, :class => 'btn' %>
<div class="modal hide fade" id="markdownModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3><%= "Markdown Cheat Sheet" %></h3>
  </div>
  <div class="modal-body" id="markdown_help_modal">
  </div>
</div>
