Hello, <br /> <br />

<p><b>The following reservations checked out contained notes. </b></p>
<%= render partial: 'reservation_note', collection: @notes_reservations_out %>

<br />

<p><b>The following reservations checked in contained notes. </b></p>
<%= render partial: 'reservation_note', collection: @notes_reservations_in %>
