<div class="image" style="margin-left: 30px">
  <% form_for @equipment_model, :html => { :multipart => true } do |f| %>
    <% fields_for "equipment_model[document_attributes][]", add_image_form do |d| %>
      <p>
        <%= d.text_field :name, :value => 'Enter name of image', :onclick => "if(this.value == 'Enter name of image') this.value=''; " %><br />
        <%= d.file_field :data %>
      </p>
    <% end %>
  
    <p>
      <%= f.submit "Add Image" %>
      <%= link_to_function "cancel", "$(this).parents('.image').remove()" %>
    </p>
  <% end %>
</div>