<div class="document">
  <% fields_for "equipment_model[document_attributes][]", document do |d| %>
    <p>
      <%= d.label :document %><br />
      Name: <%= d.text_field :name %><br />
      <%= d.file_field :data, :index => nil %>
      <%= link_to_function "delete", "$(this).parents('.document').remove()" %>
    </p>
  <% end %>
</div>