# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

defaults: &defaults
  secret_key_base: 0c114ce3c8f99376a19fe18c87a9a83bba6364236850234b2e674640b23c3be5ac8658f339910de5dd138ba4456f30f6efdb69ab8c09eafbe2cd04845ff92fac
  devise_secret_key: a65765af23c70403898be8524f11b11b492c9dab17dcd2cd5959d3bda3e2fc36799c5203a64f7b11ab9ef11d9606fd515eef8ab0d8c1c6e0a53d8e05c4ccd808
  devise_pepper: 421268118ba79ea51fb63c3e67fa01f2a73a3120b8f8a6a8875817624ad24328f8356d7a3ae6c251dfeb23ddd234301b6557bc60cb4ca0b85bb0d413073a987f
  cas_base_url: https://secure.its.yale.edu/cas/
  smtp_address: mail.yale.edu
  smtp_port: '587'
  smtp_domain: yale.edu
  ldap_host: directory.yale.edu
  ldap_port: '389'
  ldap_base: ou=People,o=yale.edu
  ldap_login: uid
  ldap_email: mail
  ldap_first_name: givenname
  ldap_last_name: sn
  ldap_nickname: eduPersonNickname
  ldap_affiliation: curriculumshortname,college,class

development:
  <<: *defaults

test:
  <<: *defaults

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  devise_secret_key: <%= ENV["DEVISE_SECRET_KEY"] %>
  devise_pepper: <%= ENV["DEVISE_PEPPER"] %>
  cas_base_url: <%= ENV["CAS_BASE_URL"] %>
  smtp_address: <%= ENV["RES_SMTP_ADDRESS"] %>
  smtp_port: <%= ENV["RES_SMTP_PORT"] %>
  smtp_domain: <%= ENV["RES_SMTP_DOMAIN"] %>
  smtp_username: <%= ENV["RES_SMTP_USERNAME"] %>
  smtp_password: <%= ENV["RES_SMTP_PASSWORD"] %>
  ldap_host: <%= ENV["RES_LDAP_HOST"] %>
  ldap_port: <%= ENV["RES_LDAP_PORT"] %>
  ldap_base: <%= ENV["RES_LDAP_BASE"] %>
  ldap_login: <%= ENV["RES_LDAP_LOGIN"] %>
  ldap_email: <%= ENV["RES_LDAP_EMAIL"] %>
  ldap_first_name: <%= ENV["RES_LDAP_FIRST_NAME"] %>
  ldap_last_name: <%= ENV["RES_LDAP_LAST_NAME"] %>
  ldap_nickname: <%= ENV["RES_LDAP_NICKNAME"] %>
  ldap_affiliation: <%= ENV["RES_LDAP_AFFILIATION"] %>
