<div id="list_items_in_cart">
<% if cart.items.size == 0 %>
  (empty)
<% else %>
<table id="table_list_items" class="table table-striped table-condensed">
    <tbody>
  <% cart.items.each do |item| %>
    <tr>
      <td><%= item.quantity %> x <%= link_to item.name, item.equipment_model %></td>
        <td><%= link_to "Remove", {:url => remove_from_cart_path(item.equipment_model)},
                                :href => remove_from_cart_path(item.equipment_model),
                                :remote => true, :class => 'btn btn-mini' %></td>
    </tr>                 
    </tbody>
  <% end %>
  </table>
</div>
<% end %>