<div id="list_items_in_cart">
  <% if cart.items.empty? %>
    <span id="cart_is_empty">(empty)</span>
  <% else %>
    <table id="table_list_items" class="table table-bordered table-striped table-condensed table-hover">
      <% cart.items.each do |model_id, quantity| %>
        <tr>
          <td colspan="2"><%= quantity %> x
            <div id="remove_button">
              <%= link_to remove_from_cart_path(EquipmentModel.find(model_id)),
              method: :put, remote: true, :'data-toggle' => 'tooltip', title: 'Remove', class: 'btn btn-default btn-xs' do %>
                <i class="fa fa-times"></i>
              <% end %>
            </div>
            <%= link_to EquipmentModel.find(model_id).name, EquipmentModel.find(model_id) %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
