<div id="list_items_in_cart">
  <% if cart.items.empty? %>
    <span id="cart_is_empty">(empty)</span>
  <% else %>
    <table id="table_list_items" class="table table-bordered table-striped table-condensed table-hover">
      <% cart.items.each do |model_id, quantity| %>
        <tr>
          <td id="quantity_col">
            <%= form_tag url_for(controller: 'catalog', action: 'edit_cart_item', id: model_id), remote: true, class: 'form-vertical', id: 'quantity_form', method: :put do %>

              <%= number_field_tag('quantity', quantity, class: 'autosubmitme form-control quantity', min: 0, step: 1, id: "quantity_field_#{model_id}") %>
            <% end %>
          </td>
          <td>
            <%= link_to EquipmentModel.find(model_id).name, EquipmentModel.find(model_id) %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
