<% if Reservation.active_user_reservations(current_user).empty? %>
  <% else %>
  <hr />
  <div id="reservations">
    <h2>My current reservations</h2>
  <small>
    <ul>
    <% Reservation.active_user_reservations(current_user).each do |reservation| %>
      <li>
        <%= link_to "#{EquipmentModel.include_deleted.find(reservation.equipment_model_id).name}:
                     #{reservation.start_date.to_date.to_s(:long)} &ndash;
                     #{reservation.due_date.to_date.to_s(:long)}".html_safe, reservation %>
      </li>
    <% end %>
    </ul>
  </small>
  </div>
<% end %>
