<tr>
  <td><%= link_to user_reservations_list.id, user_reservations_list %></td>
  <td><%= user_reservations_list.equipment_model.name %></td>
  <td><%=h user_reservations_list.start_date.to_date.to_s(:long) %></td>
  <td><%=h user_reservations_list.due_date.to_date.to_s(:long) %></td>
</tr>

