$('#cart_dates').replaceWith('<%= escape_javascript(render :partial => 'reservations/cart_dates') %>');
$('#models_available').replaceWith('<%= escape_javascript(render :partial => 'catalog/models_available' ) %>');
truncate();

<% if (flash[:error].blank? && flash[:notice].blank? && flash[:alert].blank?) %>
  $('#flashes').replaceWith('<div id="flashes"></div>');
<% else %>
  $('#flashes').replaceWith('<div id = "flashes" ><%= escape_javascript(render :partial => 'layouts/flash_alerts') %></div>');
  <% flash.clear %>
<% end %>
