<% if params[:controller] == "catalog" %>
  $('.model_availability').html("<%= @available_string %>");
  <% @availability_hash.each do |em_id, q_available| %>
    $("#availability_<%= em_id %>").html("<%= q_available %>");

  <% end %>
<% end %>
resume_cart();

<% if (flash[:error].blank? && flash[:notice].blank? && flash[:alert].blank?) %>
  $('#flashes').replaceWith('<div id="flashes"></div>');
<% else %>
  $('#flashes').replaceWith('<div id = "flashes" ><%= escape_javascript(render :partial => 'layouts/flash_alerts') %></div>');
<% end %>
