$('#<%= @reservation.id %>').replaceWith('<div id="<%= @reservation.id %>" class="well-nomargin span4"><strong><em><%= @reservation.equipment_model.name %> successfully checked out.</strong></div>');
