<% title "Reservation Check-in" %>
  <%= form_tag( check_in_by_user_path, :method => "put" ) do %>
    <p>
      <%= @user.name %> is checking in the following equipment:
    </p>
    <%= render :partial => "check_in_form", :collection => @check_in_set %>
    <div class="span12">
      <%= submit_tag "Check in equipment" %>
    </div>
  <% end %>

