<% title "Summary of Current Activity for #{@user.name}" %>
<% if !@user_overdue_reservations_set.empty? %>
  <h3>Overdue</h3>
  <%= render :partial => "user_reservations_list", :collection => @user_overdue_reservations_set %>
<% end %>
<% if !@user_checked_out_today_reservations_set.empty? %>
  <h3>Checked out today</h3>
  <%= render :partial => "user_reservations_list", :collection => @user_checked_out_today_reservations_set %>
<% end %>
<% if !@user_checked_out_previous_reservations_set.empty? %>
  <h3>Checked out prior to today</h3>
  <%= render :partial => "user_reservations_list", :collection => @user_checked_out_previous_reservations_set %>
<% end %>
<% if !@user_reserved_reservations_set.empty? %>
  <h3>Future reservations</h3>
  <%= render :partial => "user_reservations_list", :collection => @user_reserved_reservations_set %>
<% end %>
