<thead>
<tr>
  <th>object</th>
  <th>Name</th>
  <th>Serial #</th>
  <th>Reason</th>
</tr>
</thead>
<tbody>
  <% objects.each do |object_data| %>
    <% object = object_data.first %>
    <% message = object_data.last %>
    <tr>
      <td><%= EquipmentModel.find(object[:equipment_model]).name if object[:equipment_model] and EquipmentModel.find(object[:equipment_model]) %></td>
      <td><%= object[:name] %></td>
      <td><%= object[:serial] %></td>
      <td><%= message %></td>
    </tr>
  <% end %>
</tbody>
