<% title "Catalog" %>

<% @equipment_models_by_category.each do |category, equipment_models| %>
  <h2><%= category.name %></h2>
  <ul>
  <% equipment_models.each do |equipment_model| %>
    <li>
      <%= link_to equipment_model.name, equipment_model %> (<%= equipment_model.available_count %> available now)
      <%= link_to "[add to cart]", :controller => 'catalog', :action => 'add_to_cart', :id => equipment_model.id %>
    </li>
  <% end %>
  </ul>
<% end %>