.progress {
	margin-bottom: 0;
}
.btn-large {
	float: right;
}

.em_info {
	position: relative;
}

.associated_em_box {
	position: absolute;
	bottom: 0;
}

.document {
	font-size: $baseFontSize * 6;
	line-height: $baseFontSize * 6;
	color: $textColor;
	&:hover {
		text-decoration: none;
		color: $textColor;
	}
}
.image_box {
	height: 260px;
}

.giant-numbers {
	@include giant-number;
}

.label.label-success.eo-table {
	font-size: $baseFontSize;
	line-height: $baseLineHeight;
}

.subnav li h4 {
	padding-top: 11px;
	padding-bottom: 11px;
	border-right: 1px solid #E5E5E5;
	padding-right: 12px;
	display: block;
	line-height: 14px;
}

section {
	padding-top: 86px;
}

a.not-qualified-icon-em {
	position: absolute;
	top: 6px;
	right: 120px;
	font-size: $baseFontSize * 3.6;

	color: $btnWarningBackgroundHighlight;
	&:hover, &:active {
		text-decoration: none;
		color: $btnWarningBackground;
	}
}