$border-att: 1px solid darken($body-bg, 20%);

.num,.head {
  text-align:center;
}

.reservation_calendar {
  overflow: hidden;
}

#calendar-ul {
  margin-left: 0;
  margin-bottom: 3px;
  margin-top: 3px;
  padding-left: 0;
}

.calendar_cell {
  border: $border-att;
  border-radius: 3px;
  width: 13%;
  display: inline-block;
  vertical-align:top;
  background-color: rgba(0,255,0,0.5);
  // opacity: 0.9;
  padding-top: 3px;
  padding-bottom: 5px;
  box-sizing: border-box;
 }

.month {
  margin-top:3px;
}

.calendar_cell:hover{
  // opacity:  1.0;
  // cursor: pointer;
  cursor: default;
}

.c-left {
  float: left;
}

.c-right {
  float: right;
}

.control {
  cursor:pointer;
  margin-left:3px;
  margin-right: 3px;
  opacity: 0.8;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.control:not(.disabled-control):hover{
  opacity: 1.0;
}

.control:active{
  color: black;
}

.lite {
  opacity: 0.7;
}

.disabled-control {
  opacity:0.2;
  cursor:default;
}

.btn-large {
  float: right;
}

.em_info {
  position: relative;
}

.associated_em_box {
  // position: absolute;
  // bottom: 0;

  img {
    background: white;
    @include img-outline;
  }
}

.document {
  font-size: $font-size-base * 6;
  line-height: $font-size-base * 6;
  color: $text-color;
  &:hover {
    text-decoration: none;
    color: $text-color;
  }
}
.image_box {
  height: 260px;
  overflow: hidden;
  background: white;
  @include img-outline;
}

.giant-numbers {
  @include giant-number;
}

.label.label-success.eo-table {
  font-size: $font-size-base;
  line-height: $line-height-base;
}

.subnav li h4 {
  padding-top: 0;
  padding-bottom: 0;
  font-size: $font-size-base + 1px;
  padding-right: 12px;
  display: block;
  a { vertical-align: middle; }
}

section {
  padding-top: 86px;
}

a.not-qualified-icon-em {
  position: absolute;
  top: 0;
  right: 120px;
  font-size: ceil($font-size-base * 2.5);
  line-height: 1em;
  color: $btn-warning-bg;
  @include warning-icon-drop-shadow;

  &:hover, &:active {
    text-decoration: none;
    color: $btn-warning-bg;
  }
}
