label { font-weight: 600; }
.alert {
  margin-bottom: 0px;
  margin-top: 18px;
}
div.form-actions .view_all {
  float: right;
}
.popover {
  z-index: 1050;
}

.well {
  background-color: darken(desaturate($bodyBackground, 10%), 3%);
}

.nav > li > a:hover {
  background-color: darken(desaturate($bodyBackground, 10%), 7%);
}

ol {
  counter-reset: li; /* Initiate a counter */
  list-style: none; /* Remove default numbering */
  *list-style: decimal; /* Keep using default numbering for IE6/7 */
  padding: 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol ol {
  margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

$rectangle-list-li-background: darken($bodyBackground, 10%);

.rectangle-list li{
  position: relative;
  display: block;
  padding: .4em .4em .4em .8em;
  *padding: .4em;
  margin: .6em 0 .5em .7em;
  background: $rectangle-list-li-background;
  @include border-radius(3px);
  @include transition(background .3s ease-out);
}

.rectangle-list li:hover{
  background: lighten($rectangle-list-li-background, 7%);
}

.rectangle-list li:before{
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: lighten($linkColor, 18%);
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
  @include border-radius(3px);
  color: black;
}

.rectangle-list li:after{
  position: absolute;
  content: '';
  border: .5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -.5em;
  @include transition(all .3s ease-out);
}

.rectangle-list li:hover:after{
  left: -.5em;
  border-left-color: lighten($linkColor, 18%);
}



// Make links in table cells expand to fill cell

td > a, td > div.dropdown {
  > a {
  // to make table cells with links clickable throughout
  // only works when ALL the text in the cell is ONE link
  // as in no other links or text may be present
  // because it then gives each element its own line
    display: block;
    padding: 0 0 30px;
    margin: 0 0 -30px;
  }

  .dropdown-menu {
    top: 50%; // needed to account for the huge padding of table cell links

    &::before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -7px;
    left: 9px;
    }

    &::after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    position: absolute;
    top: -6px;
    left: 10px;
    }
  }
}