@import "autocomplete";
@import "bootstrap_and_overrides";
@import "jquery-ui-1.8.16.custom";
@import "mixins";

// Application Variables

$h3-line-height: 27px;
$user_label-size: 1.5;

// Global Application Styles

label { font-weight: bold; }
.alert { 
	margin-bottom: 0px;
	margin-top: 18px; 
}
div.form-actions .view_all {
	float: right;
}
.popover {
	z-index: 1050;
}

// Partial Imports

@import "layouts/*";
@import "reservations/*";
@import "catalog/*";
@import "users/*";
@import "equipment_models/*";