@import "autocomplete";
@import "bootstrap_and_overrides";
@import "jquery-ui-1.8.16.custom";

$h3-line-height: 27px;

.cart_reserver { margin-bottom: 7px; }
.thumbnail {
  height: 420px;
  position: relative;
  line-height: $baseLineHeight;
  }
#add_to_cart { 
  position: absolute;
  bottom: 13px;
  }
.add_to_cart_box { @extend .caption; }
.equipment_title {
	height: 2 * $h3-line-height;
}
.special-hr { 
	margin-top: 4px;
	margin-bottom: 10px;
	}