/*
*= require_self
*= require forms
*= require autocomplete
*= require bootstrap_and_overrides
*= require jquery-ui-1.8.16.custom
*/

.cart_reserver { margin-bottom: 7px; }
#list_items_in_cart { 
  max-height: 150px;
  overflow-y: scroll;
  border: 1px solid #000;
  }