/*
*= require_self
*= require dataTables/jquery.dataTables
*= require forms
*= require autocomplete
*= require bootstrap_and_overrides
*/


/*.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}*/

/*The next two divs are for buttons to display in the same line. */


/*#left_stuff {
  width: 30%;
  float: left;
}

#right_stuff {
  width: 70%;
  float: right;
}

#itg_wrapper {
  width: 920px;
}

#content {
  padding: 15px 15px 20px 15px;
  margin: 0;
  width: 465px;
  background: #f5f5f5;
  position: relative;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
  border-left: none;
  border-right: none;
  font-size: 140%;
  text-align: center;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

table, tr, th{
  border: 1px solid #000;
  margin: 0;
  padding: 5px;
  border-collapse: collapse;
  background: #fff;
}

td{
  border: 1px solid #999;
        margin: 0;
  padding: 5px;
  border-collapse: collapse;
}

h1{
  color: #963;
  text-align: left;
  font-size: 200%;
  margin-bottom: 10px;
}

div#logged_in{
  margin: .25em 1em;
  text-align: right;
}

input.number_input{
  width: 50px;
}

label{
  font-weight: bold;
}

div#cart{
  border: 1px solid #000;
  background: #f8f8f8;
  margin: 5px;
  padding: 5px;
  width: 212px;
  float: right;
}

div#cart h2, div#reservations h2{
  margin: 0 0 5px 0;
  padding: 0;
}

div#reservations, div#equipment{
  margin: 5px;
  padding: 2px;
  width: 218px;
  margin-top: 10px;
}

div#sidebar-right{
  width: 230px;
}

select{
  width: inherit;
}

strong.error{
  color: #b00;
}

div#quicksearch{
  position: absolute;
  top: 14px;
  right: 14px;
  font-size: 11px;
  width: 225px;
  padding: 0 8px;
  border: 1px solid black;
  background: #fff;
}

div#quicksearch select{
  font-size: 10px;
}

img.product_small{
  float: left;
  margin: 0 10px 10px 0;
  border: 1px solid #999;
}

fieldset{
  margin-top: 1em;
  clear: both;
}

div#current_equipment{
  float: right;
  border: 1px solid black;
  padding: 10px;
  background: #fff;
}

div#current_equipment ul{
  padding-left: 15px;
}

ul.catalog{
  list-style: none;
  padding-left: 20px;
}

h2.catalog, ul.catalog, ul.catalog li{
  clear: both;
}

h2.catalog{
  padding-top: 1em;
}

ul.catalog h3{
  padding: 0;
  margin: 0 0 0 0;
}

textarea{
  width: 100%;
  min-height: 100px;
}

tr.deactivated {
        background: pink;
}

tr.activated {
        background: transparent;
}
*/


