/*this sample css was taken from Ryan Bates' rails cast (and exported to normal css from sass/scss */

/*.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px; }
  .simple_form label.radio, .simple_form label.checkbox {
    float: none;
    margin: 0;
    width: auto;
    text-align: left; }
  .simple_form label.checkbox {
    display: block;
    margin-left: 120px; }
  .simple_form label.radio {
    margin-right: 10px; }
.simple_form div.input {
  margin-bottom: 10px; }
.simple_form input.radio_buttons, .simple_form input.check_boxes {
  margin-right: 5px; }
.simple_form .btn {
  margin-left: 120px; }
.simple_form .alert-error {
  color: #D00;
  margin-bottom: 10px;
  font-weight: bold; }
.simple_form .hint, .simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block; }
.simple_form .hint {
  color: #555;
  font-style: italic; }
*/