// Place all the styles related to the log controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#version-overview td, th {padding: .5em; }
#version-overview {margin: 1em auto; text-align: left !important;}

.other-version { width: 40%; padding: 1em; border: 1px solid black; }
.prev { float: left; }
.next { float: right; text-align: right; }
