// Import our webfont
// ============================
@import "open-sans/stylesheet"; // must be loaded first
@import "font-awesome";
@import "bootstrap_overrides";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/type";
@import "variables";

body {
  font-family: $sansFontFamily;
  line-height: $baseLineHeight;
}

#header, #sidebar-right, #top_buttons, .form-actions,
#pagination_line, #add_to_cart, .pagination, .container > hr, a[href="#date_range"], #links_box, .nav, .nav-collapse {
	display: none;
}

.navbar {
  .brand {
    display: block;
    // Vertically center the text given $navbarHeight
    $elementHeight: 20px;
    padding: (($navbarHeight - $elementHeight) / 2 - 2) 20px (($navbarHeight - $elementHeight) / 2 + 2);
    margin-left: -20px; // negative indent to left-align the text down the page
    font-size: 30px;
    font-weight: 200;
    line-height: 1;
    text-decoration: none;
    border-bottom: solid 1px black;

    &:after {
      content: "";
    }
  }
}
#footer {
	// display: none;
  border: solid 2px black;
  @include border-radius(5px);
  padding: 10px;
}

#receipt_box {
	width: 300px ;
}

img { max-width: 300px; }

a {
  word-wrap: break-word;

  &:after {
    content: " (" attr(href) ")";
    font-size: 75%;
  }

  &.btn {
    display: none;
  }
}

a[href^="#"]:after { display: none; }

.well-inverse {
  float: left;
  display: block;

  a {
    display: block;
  }
}

input { display: none; }

.bar > span:before {
  content: 'Length of Reservation: ';
  font-weight: bold;
}

.user_label {
  // TODO: extract into a mixin?
  @extend .label;
  @include border-radius(5px);
  padding: $user_label-size*1px $user_label-size*4px $user_label-size*2px;
  font-size: $baseFontSize * 1.5;
  line-height: 14px;
  margin-right: 10px;
}