#header {
	display: none;
}

#navigation_bar {
  display: none;
}


#sidebar-right {
	display: none;
}


a { 
	text-decoration:none; 
	color: White; 
	background-color: White; 
	font-size: 0%; 
}

a:hover { 
	color: White; 
	font-size: 0%; 
}
