#header {
	display: none;
}

#navigation_bar {
  display: none;
}


#sidebar-right {
	display: none;
}

#footer {
	display: none;
}

#top_buttons {
	display: none;
}

#form_actions {
	display: none;
}

#renew_box {
	display: none;
}

#receipt_box {
	width: 300px ;
}