<% title "Edit Category" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", @category %> |
  <%= link_to "View All", categories_path %> |
  <%= link_to "Delete", @category, :confirm => 'Deleting this category will delete all related Equipment Models, Items, and reservations. Are you sure you want to do this?', :method => :delete %>
</p>
