<div class="span6">
  <div id="reservation-calendar">
    <%= content_tag "div", id: "res-data", data:{url:@reservation_data, day:(@beginning.to_date)} do %>
    <% end %>
  <ul>
    <% for d in @beginning...(@beginning+7.day) %>
      <li class = "<%= d.to_date %> calendar_cell">
      <%= d.day %>
      <div class = "res_div">
        <ul class="res">
        </ul>
      </div>
    <% end %>
  </ul>
</div>
</div>
