  <h3>Availability</h3>
  <div id="reservation-calendar">
    <%= content_tag "div", id: "res-data", data:{url:@reservation_data, today:@date.to_s, max:@max} do %>
    <% end %>
    <div class = "month"><h4></h4></div>

    <ul id = "calendar-ul">
      <li class = "calendar_cell" id ="<%= cart.start_date %>">
        <% for d in 0...6 %>
          <div class = "head"><strong></strong><i></i></div>
        <div class = "num"><h2></h2></div>
      </li>
      <li class = "calendar_cell">
      <% end %>
      <div class = "head"><strong></strong><i></i></div>
        <div class = "num"><h2></h2></div>
      </li>
    </ul>

    <div class = "controls c-left">
      <i class="b_week icon-double-angle-left">back a week</i>
      <i class="b_day icon-angle-left">back 1 day</i>
    </div>
    <div class = "controls c-right">
      <i class="f_day icon-angle-right">forward 1 day</i>
      <i class="f_week icon-double-angle-right">forward 1 week</i>
    </div>
</div>
