<div class="span6">
  <div class="calendar">
  <ul>
    <% for d in @beginning...(@beginning+7.day) %>
      <li class = "day calendar_cell">
      <%= d.day %>
      <ul>
        <% @model_reservations.each do |r| %>
          <% if r.start_date.to_date == d %>
            <% if r.equipment_object %>
              <% label = r.equipment_object.name %>
            <% else %>
               <% label = 'Reserveddddddd' %>
            <% end %>
            <li class = "reservation"><%= label %></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </ul>
</div>
</div>
