<div class="span6">
  <div id="reservation-calendar">
    <%= content_tag "div", id: "res-data", data:{url:@reservation_data, day:(@date.to_date), max:@max} do %>
    <% end %>
  <ul>
    <% for d in @date...(@date+7.day) %>
      <li class = "<%= d.to_date %> calendar_cell">
      <div class = "head">
        <%= "#{d.day} - #{d.to_time.strftime('%a')}" %>
      </div> 
      <div class = "num">
        <h2><%= @max %></h2>
      </div>


    <% end %>
  </ul>
</div>
</div>
