<div class="checkout_procedure, nested-fields">

      <div class="input-append">
<%= f.input :step %>
      <%= link_to_remove_association "Remove Step", f, :class => "btn add-on" %>
      </div>

</div>