<div class="checkin_procedure, nested-fields">
<%= f.input :step, :wrapper => :append do %>
  <%= f.input_field :step %><%= link_to_remove_association "Remove Step", f, :class => "btn" %>
<% end %>
</div>

