<div class="checkin_procedure, nested-fields">
  <table>
    <tr>
      <div class="input-append">
      <td><%= f.input :step %></td>
      <td><%= link_to_remove_association "Remove Step", f %></td>
      </div>
    </tr>
  </table>
</div>

