<div class="checkout_procedure">
  <%= text_field_tag 'equipment_model[checkout_procedures][]', checkout_procedure, :style => 'width: 370px' %>
  <%= link_to_function "[remove]", "$(this).parent('div.checkout_procedure').remove()"%>
</div>