<div class="checkin_procedure">
  <%= text_field_tag 'equipment_model[checkin_procedures][]', checkin_procedure, :style => 'width: 370px' %>
  <%= link_to_function "[remove]", "$(this).parent('div.checkin_procedure').remove()"%>
</div>