<% title "Edit Equipment Model" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", @equipment_model %> |
  <%= link_to "View All", equipment_models_path %> |
  <%= link_to "Destroy", @equipment_model, :confirm => 'This will permanently delete the Item from your database and could have unintended consequences. You might break all the things. Are you sure?', :method => :delete %>
</p>
