<table id="table_woo" class="datatable table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <% @table_col_names.each do |name| %>
      <th><%= name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "report_row", :collection => res_stat_set %>
  </tbody>
</table>