<% title ("Report for " + @start_date.strftime("%b %d, %Y") + " to " + @end_date.strftime("%b %d, %Y")) %>
<%= render :partial => 'reports/report_dates' %>

<h2>Set of Equipment Models</h2><hr />

<%= render :partial => "data_tables" , :object => @data_tables%>