<% title ("Reports") %>

<table id="table_woo" class="datatable table table-striped table-bordered">
  <thead>
    <tr>
      <th>Reservation Set</th>
      <% @res_stat_sets.values.first.each do |key, count| %>
      <th><%=h key %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @res_stat_sets.each do |key, stat_set| %>
    <tr>
      <td><%=h key %></td>
      <% stat_set.each do |key, count| %>
        <td><%=h count %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>