<% title ("Overall Report for " + @start_date.strftime("%b %d, %Y") + " to " + @end_date.strftime("%b %d, %Y")) %>
<ul class="breadcrumb">
    <li class="active">Reports</li>
</ul>
<%= render :partial => 'reports/report_generator'%>
<%= render :partial => "data_tables" , :object => @data_tables%>