<% Announcement.current(cookies.signed[:hidden_announcement_ids]).each do |announcement| %>
  <%= div_for announcement, :class => "alert alert-info" do %>
    <%= announcement.message %>
    <%= link_to hide_announcement_path(announcement), remote: true do %>
      <button class="close" id="close_announcement">×</button>
    <% end %>
  <% end %>
<% end %>