<div id="flashes">
  <%# flash messages, if any %>
  <% flash.each do |name, msg| %>
    <% unless msg.blank? %>
      <%= content_tag :div, id: "flash_#{name}", role: 'alert', class: "alert alert-#{(name == :notice || name == 'notice') ? "success" : "danger"} alert-dismissable" do %>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= markdown(msg, false).strip.gsub(/\n/, "<br />").html_safe %>
      <% end %>
    <% end %>
  <% end %>
  <% flash.clear %>
</div>
