<hr />
<div class="row">
  <div id="footer" class="span12">
    <div class="well">
      Powered by <a href="https://github.com/YaleSTC/reservations">Reservations</a>, an open source equipment reservation app.<br />
      &copy; 2012 Yale Student Technology Collaborative
    </div>
  </div>
</div>