<div id="sidebar-right" class="span3">
  <div id="sidebarbottom">

    <% if current_user && current_user.can_checkout? %>
        <%= render :partial => 'users/find_user' %>
    <% end %>

    <%= render :partial => 'reservations/cart_sidebar' %>

    <%= yield(:right_sidebar) %>
  </div>
</div>
<!-- ================ END RIGHT SIDEBAR ================ -->
<hr />